{
  "Entries": [
    {
      "RequestUri": "https://zedy-table.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "adventureworks"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272023-02-13T09%3A35%3A17.9481095Z\u0027\u0022",
        "Location": "https://zedy-table.table.cosmos.azure.com/Tables(\u0027adventureworks\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://zedy-table.table.cosmos.azure.com/adventureworks",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "Sale": true,
        "RowKey": "68719518388",
        "PartitionKey": "gear-surf-surfboards",
        "Quantity": 8,
        "Name": "Ocean Surfboard"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272023-02-13T09%3A35%3A18.5794055Z\u0027\u0022",
        "Location": "https://zedy-table.table.cosmos.azure.com/adventureworks(PartitionKey=\u0027gear-surf-surfboards\u0027,RowKey=\u002768719518388\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://zedy-table.table.cosmos.azure.com/adventureworks(PartitionKey=\u0027gear-surf-surfboards\u0027,RowKey=\u002768719518388\u0027)?$format=application/json%3Bodata%3Dfullmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-02-13T09%3A35%3A18.5794055Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://zedy-table.table.cosmos.azure.com/adventureworks/$metadata#adventureworks/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-02-13T09%3A35%3A18.5794055Z\u0027\u0022",
        "Sale": true,
        "RowKey": "68719518388",
        "PartitionKey": "gear-surf-surfboards",
        "Quantity": 8,
        "Name": "Ocean Surfboard",
        "Timestamp": "2023-02-13T09:35:18.5794055Z"
      }
    },
[...]
    {
      "RequestUri": "https://zedy-table.table.cosmos.azure.com/adventureworks()?$format=application/json%3Bodata%3Dfullmetadata\u0026$filter=PartitionKey%20eq%20%27gear-surf-surfboards%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272023-02-13T09%3A35%3A18.5794055Z\u0027\u0022",
            "Sale": true,
            "RowKey": "68719518388",
            "PartitionKey": "gear-surf-surfboards",
            "Quantity": 8,
            "Name": "Ocean Surfboard",
            "Timestamp": "2023-02-13T09:35:18.5794055Z"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272023-02-13T09%3A35%3A19.1322631Z\u0027\u0022",
            "Sale": false,
            "RowKey": "68719518390",
            "PartitionKey": "gear-surf-surfboards",
            "Quantity": 5,
            "Name": "Sand Surfboard",
            "Timestamp": "2023-02-13T09:35:19.1322631Z"
          }
        ],
        "odata.metadata": "https://zedy-table.table.cosmos.azure.com/$metadata#adventureworks"
      }
    },
    {
      "RequestUri": "https://zedy-table.table.cosmos.azure.com/Tables(\u0027adventureworks\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
